In [1]:
import pandas as pd
import os

Lo primero que hare es un enlacce entre estaciones y sus respectivos nombres

In [4]:
def fVal():
    contador = 1
    lista = []
    for i in range(24):
        if contador < 10:
            hora = str(contador)
            col = "V0"+hora
            lista.append(col)
        else:
            hora = str(contador)
            col = "V"+hora
            lista.append(col)
        contador += 1
    return lista

In [6]:
def fPreprocesamiento(df):
    df_final = df.drop(columns=fVal())
    df_final = df_final.drop(columns=["PROVINCIA","MUNICIPIO","PUNTO_MUESTREO"])
    if df_final.isna().any().any():
        df_final = df_final.fillna(df_final.drop(columns=["ESTACION","MAGNITUD","ANO","MES","DIA"]).mean(axis=1))
    return df_final

In [8]:
def fLecturacsv(ruta):
    df = pd.read_csv(ruta, sep=";")
    df_final = fPreprocesamiento(df)
    return df_final

In [163]:
mes = ("ene","feb","mar","abr","may","jun","jul","ago","sep","oct","nov","dic")
año = 2013
df_final = pd.DataFrame()
for year in range(12):
    for i in range(12):
        archivo = mes[i]+"_mo"+str(año)[-2:]+".csv"
        ruta = os.path.join(str(año), archivo)
        df = fLecturacsv(ruta)
        df_final = pd.concat([df_final,df])
    año+=1

In [164]:
df_final

,ESTACION,MAGNITUD,ANO,MES,DIA,H01,H02,H03,H04,H05,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,4,1,2013,1,1,3.0,3.0,3.0,3.0,3.0,...,5.0,5.0,5.0,5.0,5.0,6.0,8.0,6.0,4.0,8.0
1,4,1,2013,1,2,7.0,5.0,5.0,4.0,4.0,...,8.0,7.0,8.0,8.0,8.0,10.0,8.0,8.0,7.0,6.0
2,4,1,2013,1,3,5.0,5.0,4.0,4.0,4.0,...,9.0,8.0,8.0,8.0,11.0,17.0,14.0,11.0,9.0,6.0
3,4,1,2013,1,4,6.0,6.0,5.0,4.0,4.0,...,16.0,10.0,10.0,11.0,18.0,14.0,12.0,16.0,14.0,10.0
4,4,1,2013,1,5,8.0,6.0,7.0,6.0,4.0,...,13.0,10.0,10.0,10.0,11.0,10.0,12.0,13.0,12.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3951,60,14,2024,12,27,2.0,2.0,7.0,13.0,19.0,...,54.0,60.0,60.0,50.0,32.0,21.0,10.0,8.0,4.0,10.0
3952,60,14,2024,12,28,12.0,13.0,9.0,22.0,18.0,...,52.0,55.0,53.0,43.0,9.0,3.0,2.0,2.0,4.0,3.0
3953,60,14,2024,12,29,2.0,6.0,12.0,16.0,27.0,...,61.0,63.0,63.0,46.0,23.0,9.0,11.0,18.0,6.0,11.0
3954,60,14,2024,12,30,23.0,21.0,25.0,15.0,24.0,...,68.0,72.0,75.0,59.0,19.0,6.0,2.0,2.0,3.0,2.0
3955,60,14,2024,12,31,9.0,29.0,39.0,36.0,34.0,...,77.0,78.0,76.0,61.0,32.0,8.0,4.0,3.0,16.0,21.0

In [426]:
df_final[df_final.ESTACION==59]

,ESTACION,MAGNITUD,ANO,MES,DIA,H01,H02,H03,H04,H05,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
4292,59,7,2013,1,1,3.0,7.0,7.0,2.0,2.0,...,15.0,13.0,12.0,13.0,61.0,63.0,64.0,115.0,113.0,98.0
4293,59,7,2013,1,2,77.0,75.0,71.0,54.0,62.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0
4294,59,7,2013,1,3,2.0,3.0,3.0,2.0,2.0,...,4.0,4.0,3.0,10.0,51.0,213.0,317.0,153.0,64.0,6.0
4295,59,7,2013,1,4,2.0,1.0,1.0,1.0,2.0,...,41.0,57.0,79.0,102.0,185.0,225.0,228.0,224.0,225.0,191.0
4296,59,7,2013,1,5,165.0,65.0,49.0,41.0,22.0,...,44.0,40.0,86.0,79.0,93.0,162.0,176.0,149.0,130.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,59,14,2024,12,27,4.0,4.0,6.0,20.0,20.0,...,51.0,57.0,59.0,47.0,34.0,30.0,4.0,13.0,28.0,13.0
3797,59,14,2024,12,28,13.0,15.0,20.0,21.0,21.0,...,57.0,61.0,55.0,39.0,16.0,3.0,4.0,3.0,3.0,12.0
3798,59,14,2024,12,29,25.0,24.0,25.0,27.0,26.0,...,64.0,60.0,62.0,48.0,31.0,26.0,16.0,8.0,27.0,18.0
3799,59,14,2024,12,30,21.0,25.0,23.0,26.0,35.0,...,70.0,76.0,69.0,51.0,15.0,3.0,4.0,3.0,3.0,30.0
3800,59,14,2024,12,31,33.0,29.0,33.0,34.0,35.0,...,66.0,76.0,74.0,61.0,23.0,8.0,4.0,3.0,8.0,35.0

In [167]:
#df_final.to_csv("datos_contaminacion.csv", index=False)

A partir de este punto mezclo datos y me pongo a comprobar camaras de trafico

In [10]:
#Vistazo a camaras de trafico
df = pd.read_csv("12-2024.csv", sep=";")

In [11]:
df

,id,fecha,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion
0,1002,2024-12-01 00:00:00,C30,864,3,0,67.0,N,5
1,1002,2024-12-01 00:15:00,C30,960,4,0,64.0,N,5
2,1002,2024-12-01 00:30:00,C30,720,4,0,65.0,N,5
3,1002,2024-12-01 00:45:00,C30,996,4,0,63.0,N,5
4,1002,2024-12-01 01:00:00,C30,1008,5,0,67.0,N,5
...,...,...,...,...,...,...,...,...,...
13296456,11388,2024-12-31 22:45:00,M30,339,1,11,64.0,N,15
13296457,11388,2024-12-31 23:00:00,M30,288,2,10,61.0,N,15
13296458,11388,2024-12-31 23:15:00,M30,308,2,11,60.0,N,15
13296459,11388,2024-12-31 23:30:00,M30,257,0,8,56.0,N,15
13296460,11388,2024-12-31 23:45:00,M30,188,1,5,56.0,N,15

In [12]:
df.id.unique().size

4679

In [13]:
df['id'] = df['id'].astype(str)

In [122]:
df[df['id'].str.startswith("6342", na=False)]

,id,fecha,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion
7746240,6342,2024-12-01 00:00:00,URB,122,1,11,0.0,N,15
7746241,6342,2024-12-01 00:15:00,URB,138,1,10,0.0,N,15
7746242,6342,2024-12-01 00:30:00,URB,116,0,9,0.0,N,15
7746243,6342,2024-12-01 00:45:00,URB,127,1,10,0.0,N,15
7746244,6342,2024-12-01 01:00:00,URB,104,0,8,0.0,N,15
...,...,...,...,...,...,...,...,...,...
7749211,6342,2024-12-31 22:45:00,URB,93,1,6,0.0,N,15
7749212,6342,2024-12-31 23:00:00,URB,55,0,4,0.0,N,15
7749213,6342,2024-12-31 23:15:00,URB,48,0,3,0.0,N,15
7749214,6342,2024-12-31 23:30:00,URB,36,0,4,0.0,N,15
7749215,6342,2024-12-31 23:45:00,URB,36,0,2,0.0,N,15

In [84]:
df2 = pd.read_csv("pmed_ubicacion_12-2024.csv", sep=";", encoding='latin-1')

In [86]:
df2.head()

,tipo_elem,distrito,id,cod_cent,nombre,utm_x,utm_y,longitud,latitud
0,URB,8.0,5902,42405,(TACTICO) ISLAS CIES O-E,439227.547371,4.481434e+06,-3.717014,40.481374
1,URB,11.0,5088,50022,ARLANZA E-O,439202.946046,4.470942e+06,-3.716301,40.386854
2,URB,11.0,5141,58010,Cº VIEJO DE LEGANES N-S,437756.796833,4.470017e+06,-3.733248,40.378412
3,URB,10.0,5010,95002,MARQUES MONISTROL N-S (CALLE 30),438563.141820,4.474058e+06,-3.724139,40.414880
4,URB,5.0,3924,04018,Doctor Arce S-N - Estevez-Pl. Cataluña,442320.032850,4.477675e+06,-3.680189,40.447728

In [88]:
df2['id'] = df2['id'].astype(str)

In [90]:
df2[df2['distrito']==2].head(30)

,tipo_elem,distrito,id,cod_cent,nombre,utm_x,utm_y,longitud,latitud
19,other,2.0,6849,15NC71PM01,15NC71PM01,439213.161291,4.472427e+06,-3.716322,40.400236
21,other,2.0,6862,15RV01PM01,15RV01PM01,439599.089949,4.472288e+06,-3.711762,40.399008
22,other,2.0,6851,15RV50PM01,15RV50PM01,439214.985892,4.472454e+06,-3.716303,40.400476
55,URB,2.0,10922,12021,OMBU N-S,442569.332229,4.471787e+06,-3.676718,40.394703
56,URB,2.0,10658,90029,Po MELANCOLICOS N-S (DUQUE TOVAR -,438914.472835,4.472689e+06,-3.719867,40.402569
62,URB,2.0,10927,12031,AV PLANETARIO O-E(SALIDA TUNEL),441968.006822,4.471609e+06,-3.683787,40.393064
88,URB,2.0,4124,12017,EMBAJADORES N-S(TOMAS BORRAS-MIGUEL ARREDONDO),440964.169821,4.471882e+06,-3.695639,40.395447
91,URB,2.0,4329,30037,"SEGOVIA, 61 O-E(MAZARREDO-RONDA SEGOVIA)",439060.398211,4.473944e+06,-3.718268,40.413886
123,URB,2.0,4218,14022,Po ACACIAS E-O(EMBAJADORES-Po ESPERANZA),440149.251864,4.472868e+06,-3.705334,40.404277
186,other,2.0,1027,14VE04PM01,14VE04PM01,440307.873376,4.471840e+06,-3.703368,40.395027
213,URB,2.0,4196,13056,PENUELAS N-S(CARVAJALES-STA.Ma CABEZA),440493.344779,4.472310e+06,-3.701227,40.399270
231,URB,2.0,7134,14734,(AFOROS) EMBAJADORES S-N(PALOS FRONTERA-SEBAST...,440525.957793,4.472726e+06,-3.700881,40.403017
242,URB,2.0,4123,12016,GUILLERMO DE OSMA O-E(DOMINGO P.VAL - PL.BEATA...,440939.679146,4.471722e+06,-3.695913,40.394005
286,URB,2.0,4101,11030,EMBAJADORES N-S(BOLIVAR-PASEO MOLINO),441204.188300,4.471367e+06,-3.692764,40.390830
364,URB,2.0,9972,90025,GIL IMON E-O (VILLOSLADA -Po IMPERIAL),439220.424847,4.473206e+06,-3.716311,40.407247
401,URB,2.0,4169,13023,SALIDA CALLE 30 CALZADA EXTERIOR SENTIDO PL. E...,440249.008402,4.471945e+06,-3.704071,40.395968
442,URB,2.0,9959,97093,Méndez Alvaro S-N(Giro Izqda) - Retama-Pedro B...,442374.838326,4.471773e+06,-3.679008,40.394563
443,URB,2.0,7083,97409,(TACTICA)Méndez Álvaro E-O(Giro a Estrella Nao...,442101.270787,4.472092e+06,-3.682260,40.397425
460,URB,2.0,4093,11022,BOLIVAR E-O(HIERRO-EMBAJADORES),441224.390879,4.471494e+06,-3.692537,40.391974
480,other,2.0,6877,12NC07PM01,12NC07PM01,441848.348725,4.471189e+06,-3.685158,40.389265
513,URB,2.0,3515,97077,Salida Calle 30 E-O - (By-Pass M-30 -Gta.Pirám...,439635.737118,4.472257e+06,-3.711327,40.398735
521,URB,2.0,4117,12010,"CACERES 9, O-E(BATALLA DEL SALADO-Po DELICIAS)",440985.133121,4.472228e+06,-3.695424,40.398565
533,URB,2.0,4703,97076,Salida Calle 30 E-O - (M-30 -Gta.Pirámides) a ...,439595.697880,4.472392e+06,-3.711811,40.399943
574,URB,2.0,4689,90004,Po PONTONES O-E(CALLE NUEVA-PL. FCO. MORANO),439146.654696,4.472884e+06,-3.717150,40.404348
579,URB,2.0,4706,97080,Pº Yeserias E-O - Melilla-Gta.Pirámides,439508.099013,4.472459e+06,-3.712850,40.400544
602,M30,2.0,6685,PM11201,PM11201,441891.725398,4.470593e+06,-3.684593,40.383906
608,URB,2.0,4095,11024,EMBAJADORES S-N(ANTRACITA-BOLIVAR)(TUNEL A 80MTS),441207.824644,4.471375e+06,-3.692721,40.390896
625,other,2.0,6860,15RR60PM03,15RR60PM03,439567.062572,4.472426e+06,-3.712152,40.400253
626,other,2.0,6861,15RR60PM02,15RR60PM02,439563.446515,4.472421e+06,-3.712194,40.400206
627,other,2.0,7118,14NC71PM01,14NC71PM01,439726.864176,4.472105e+06,-3.710239,40.397368

In [92]:
df2["latitud"] = df2["latitud"].astype(str)

In [94]:
df2["longitud"] = df2["longitud"].astype(str)

In [118]:
df2[df2['nombre'].str.contains("Ariadna", na=False)]

Empty DataFrame
Columns: [tipo_elem, distrito, id, cod_cent, nombre, utm_x, utm_y, longitud, latitud]
Index: []

In [120]:
df2[(df2['latitud'].str.startswith("40.47", na=False)) & (df2['distrito']==21)]

,tipo_elem,distrito,id,cod_cent,nombre,utm_x,utm_y,longitud,latitud
351,URB,21.0,6341,57010,Av. Logroño - Gonzalo de Céspedes-Canal de Suez,450695.671763,4.480218e+06,-3.58162239508599,40.47117910326983
2001,URB,21.0,6342,57011,Av. Logroño - Timón-Pajarones,450641.888164,4.480607e+06,-3.58228711790832,40.47468268985809
2002,URB,21.0,6927,57012,Av. Logroño - Pajarones-Timón,450632.941755,4.480590e+06,-3.58239129995393,40.47452530054128
2006,URB,21.0,9839,57019,Planeta - Av. General-Av. Logroño,450772.278972,4.480150e+06,-3.58071342811738,40.47056745019523
2007,URB,21.0,6929,57021,Playa de Riazor - Arroyomolino-Av. Logroño,450545.602347,4.480720e+06,-3.58343172362801,40.47568891944736
2014,URB,21.0,10001,57601,Av. Logroño - Timón-Pajarones,450638.638040,4.480677e+06,-3.58233088570581,40.47531070300342
2015,URB,21.0,10002,57602,Playa de Riazor - Arroyomolino-Av. Logroño,450621.293313,4.480709e+06,-3.58253801898599,40.47560151914622
3003,URB,21.0,6928,57020,Av. Logroño - Doblada-Pajarones,450666.733297,4.480855e+06,-3.58201328315872,40.47691392946528

In [34]:
df2[df2.id==4839]

Empty DataFrame
Columns: [tipo_elem, distrito, id, cod_cent, nombre, utm_x, utm_y, longitud, latitud]
Index: []